<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tienda</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    
    <body >
      {% load static %}

    <!-- Inicio de la barra de navegacion -->
    <div class="bg-green">
      <div class="container">
          <header class="d-flex flex-wrap justify-content-center py-3">
            <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
              <img class="logo" src="{% static 'imagenes/logo-small.png' %}"/>
              <span class="fs-4">VOH</span>
            </a>
          </div>
          <div class="bg-green d-flex flex-wrap justify-content-center py-3">
            <ul class="nav nav-pills">
              <li class="nav-item"><a href="/" class="nav-link bg-light nav-link-pers" aria-current="page">Inicio</a></li>
              <li class="nav-item"><a href="/tienda/1" class="nav-link  nav-link-pers">Tienda</a></li>
            </ul>
          </header>
        </div>
      </div>
      <!-- Fin de la barra de navegacion -->
    
      <div class="row">
        {% for producto in productos %}
          <div class="col-5 d-block mx-auto">
              <img class="d-block col-10" src="{% static 'imagenes/oferta-fertilizantes.jpg'%}">
              <p>{{producto.sku}}</p>
              <p>{{producto.nombre}}</p>
              <p>{{producto.descripcion}}</p>
              <p>{{producto.precio}}</p>
              <p>{{producto.stock}}</p>
              <button class="d-block mx-auto btn btn-primary">Comprar</button>
          </div>
        {% endfor %}
        </div>

        <input type="hidden" id="page" name="page" value="{{page}}">

        <nav class="w-100">
          <ul class="pagination">
            {% if page != 1 %}
            <li class="page-item"><a id="beforePage" class="page-link" href="">Anterior</a></li>
            {% endif %}
            <li class="page-item"><a id="nextPage" class="page-link" href="" >Siguiente</a></li>
          </ul>
        </nav>

        <script>
          var page = document.getElementById("page");
          var nextPage = document.getElementById("nextPage");
          var beforePage = document.getElementById("beforePage");

          nextPage.setAttribute('href', parseInt(page.value)+1);
          beforePage.setAttribute('href', parseInt(page.value)-1);

        </script>
   <!-- Inicio footer -->

   <div class="full-width bg-green">
    <div class="container">
     <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 mt-4 border-top">
       <div id="contacto" class="col-md-4d-flex align-items-center">
         <span class="text-green-dark">© 2022 VOH, Inc</span>
         <h5>Contactanos</h5>
         <ul class="nav flex-column">
           <li class="nav-item mb-2"><a href="#contacto" class="nav-link p-0 text-green-dark">+56 9 9999 9999</a></li>
           <li class="nav-item mb-2"><a href="#contacto" class="nav-link p-0 text-green-dark">contacto@voh.org</a></li>
         </ul>
       </div>
   
       <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
         <li class="ms-3"><a href="#contacto"><img src="{% static 'imagenes/twitter.png'%}" alt="Twitter"></a></li>
         <li class="ms-3"><a href="#contacto"><img src="{% static 'imagenes/instagram.png'%}" alt="Instagram"></a></li>
         <li class="ms-3"><a href="#contacto"><img src="{% static 'imagenes/facebook.png'%}" alt="Facebook"></a></li>
       </ul>
     </footer>
   </div>
  </div>
  
  <!-- Fin footer -->
</body>
</html>